# Project
build

# Certificates
certs

# Docs
docs

# Dotenv
.env*
!.env*.example

# Node
node_modules
logs
.npm
*.log
*.gz
npm-debug.log*

# Jest
coverage

# NYC test coverage
.nyc_output

# Caches
.eslintcache
*.tsbuildinfo

# OS X
.DS_Store
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~